<head>
    <title>Интерактивный курс «Наставничество: ситуационное управление персоналом» </title>
    <meta charset="UTF-8">
    <script type="text/javascript"
            src="https://bam.nr-data.net/1/636acd00a9?a=24573548&amp;v=998.365d633&amp;to=ZQcENUYCCxdVUEcNClxNMxNdTAwKUFZLShVaEg%3D%3D&amp;rst=2046&amp;ref=http://netology.ru/courses/nastavnichestvo&amp;ap=230&amp;be=362&amp;fe=1378&amp;dc=524&amp;perf=%7B%22timing%22:%7B%22of%22:1485044948958,%22n%22:0,%22f%22:0,%22dn%22:3,%22dne%22:59,%22c%22:59,%22ce%22:84,%22rq%22:84,%22rp%22:346,%22rpe%22:347,%22dl%22:349,%22di%22:857,%22ds%22:858,%22de%22:888,%22dc%22:1739,%22l%22:1739,%22le%22:1752%7D,%22navigation%22:%7B%7D%7D&amp;at=SUAHQw4YGBk%3D&amp;jsonp=NREUM.setToken"></script>
    <script src="https://js-agent.newrelic.com/nr-998.min.js"></script>
    <script async="" type="text/javascript" src="http://openstat.net/s/2380141.js"></script>
    <script async="" type="text/javascript" src="http://openstat.net/cnt.js"></script>
    <script type="text/javascript" id="veConnect" async="" crossorigin="anonymous"
            src="http://config1.veinteractive.com/scripts/5.0/capture-apps-5.0.0.js"></script>
    <script type="text/javascript" async="" src="http://js.mixmarket.biz/au1294932214.js?t=1485044949845"></script>
    <script type="text/javascript" async="" id="topmailru-code" src="http://top-fwz1.mail.ru/js/code.js"></script>
    <script type="text/javascript" async=""
            src="//counter1.botscanner.com/Counter/Index/?dspId=&amp;uuid=&amp;pixelId=&amp;referer=http%3A%2F%2Fvk.com%2Faway.php"></script>
    <script async="" src="//connect.facebook.net/en_US/fbevents.js"></script>
    <script type="text/javascript" async="" src="http://mc.yandex.ru/metrika/watch.js"></script>
    <script async="" id="cio-tracker" data-site-id="9fd644983767859050bd"
            src="https://assets.customer.io/assets/track.js"></script>
    <script async="" src="//www.google-analytics.com/analytics.js"></script>
    <script async="" src="//www.googletagmanager.com/gtm.js?id=GTM-PWG78J"></script>
    <script type="text/javascript">window.NREUM || (NREUM = {}), __nr_require = function (e, t, n) {
        function r(n) {
            if (!t[n]) {
                var o = t[n] = {exports: {}};
                e[n][0].call(
                    o.exports, function (t) {
                        var o = e[n][1][t];
                        return r(o || t)
                    }, o, o.exports
                )
            }
            return t[n].exports
        }

        if ("function" == typeof __nr_require)return __nr_require;
        for (var o = 0; o < n.length; o++)r(n[o]);
        return r
    }(
        {
            1: [function (e, t, n) {
                function r() {}

                function o(e, t, n) {
                    return function () {
                        return i(
                            e, [(new Date).getTime()].concat(u(arguments)), t ? null : this, n
                        ), t ? void 0 : this
                    }
                }

                var i = e("handle"), a = e(2), u = e(3), c = e("ee").get("tracer"), f = NREUM;
                "undefined" == typeof window.newrelic && (newrelic = f);
                var s = ["setPageViewName", "setCustomAttribute", "setErrorHandler", "finished", "addToTrace", "inlineHit"], l = "api-", p = l + "ixn-";
                a(s, function (e, t) {f[t] = o(l + t, !0, "api")}), f.addPageAction = o(
                    l + "addPageAction", !0
                ), f.setCurrentRouteName = o(
                    l + "routeName", !0
                ), t.exports = newrelic, f.interaction = function () {return (new r).get()};
                var d = r.prototype = {
                    createTracer: function (e, t) {
                        var n = {}, r = this, o = "function" == typeof t;
                        return i(p + "tracer", [Date.now(), e, n], r), function () {
                            if (c.emit(
                                    (o ? "" : "no-") + "fn-start", [Date.now(), r, o], n
                                ), o)try {
                                return t.apply(this, arguments)
                            } finally {
                                c.emit("fn-end", [Date.now()], n)
                            }
                        }
                    }
                };
                a(
                    "setName,setAttribute,save,ignore,onEnd,getContext,end,get".split(","),
                    function (e, t) {d[t] = o(p + t)}
                ), newrelic.noticeError = function (e) {
                    "string" == typeof e && (e = new Error(e)), i(
                        "err", [e, (new Date).getTime()]
                    )
                }
            }, {}],
            2: [function (e, t, n) {
                function r(e, t) {
                    var n = [], r = "", i = 0;
                    for (r in e)o.call(e, r) && (n[i] = t(r, e[r]), i += 1);
                    return n
                }

                var o = Object.prototype.hasOwnProperty;
                t.exports = r
            }, {}],
            3: [function (e, t, n) {
                function r(e, t, n) {
                    t || (t = 0), "undefined" == typeof n && (n = e ? e.length : 0);
                    for (var r = -1, o = n - t || 0, i = Array(o < 0 ? 0 : o); ++r < o;)i[r] = e[t + r];
                    return i
                }

                t.exports = r
            }, {}],
            ee: [function (e, t, n) {
                function r() {}

                function o(e) {
                    function t(e) {return e && e instanceof r ? e : e ? c(e, u, i) : i()}

                    function n(n, r, o) {
                        if (!p.aborted) {
                            e && e(n, r, o);
                            for (var i = t(o), a = v(n), u = a.length, c = 0; c < u; c++)a[c].apply(i, r);
                            var f = s[w[n]];
                            return f && f.push([y, n, r, i]), i
                        }
                    }

                    function d(e, t) {b[e] = v(e).concat(t)}

                    function v(e) {return b[e] || []}

                    function g(e) {return l[e] = l[e] || o(n)}

                    function m(e, t) {f(e, function (e, n) {t = t || "feature", w[n] = t, t in s || (s[t] = [])})}

                    var b = {}, w = {}, y = {
                        on: d,
                        emit: n,
                        get: g,
                        listeners: v,
                        context: t,
                        buffer: m,
                        abort: a,
                        aborted: !1
                    };
                    return y
                }

                function i() {return new r}

                function a() {(s.api || s.feature) && (p.aborted = !0, s = p.backlog = {})}

                var u = "nr@context", c = e("gos"), f = e(2), s = {}, l = {}, p = t.exports = o();
                p.backlog = s
            }, {}],
            gos: [function (e, t, n) {
                function r(e, t, n) {
                    if (o.call(e, t))return e[t];
                    var r = n();
                    if (Object.defineProperty && Object.keys)try {
                        return Object.defineProperty(e, t, {value: r, writable: !0, enumerable: !1}), r
                    } catch (i) {
                    }
                    return e[t] = r, r
                }

                var o = Object.prototype.hasOwnProperty;
                t.exports = r
            }, {}],
            handle: [function (e, t, n) {
                function r(e, t, n, r) {o.buffer([e], r), o.emit(e, t, n)}

                var o = e("ee").get("handle");
                t.exports = r, r.ee = o
            }, {}],
            id: [function (e, t, n) {
                function r(e) {
                    var t = typeof e;
                    return !e || "object" !== t && "function" !== t ? -1 : e === window ? 0 : a(
                                e, i, function () {return o++}
                            )
                }

                var o = 1, i = "nr@id", a = e("gos");
                t.exports = r
            }, {}],
            loader: [function (e, t, n) {
                function r() {
                    if (!h++) {
                        var e = y.info = NREUM.info, t = l.getElementsByTagName("script")[0];
                        if (setTimeout(f.abort, 3e4), !(e && e.licenseKey && e.applicationID && t))return f.abort();
                        c(b, function (t, n) {e[t] || (e[t] = n)}), u("mark", ["onload", a()], null, "api");
                        var n = l.createElement("script");
                        n.src = "https://" + e.agent, t.parentNode.insertBefore(n, t)
                    }
                }

                function o() {"complete" === l.readyState && i()}

                function i() {u("mark", ["domContent", a()], null, "api")}

                function a() {return (new Date).getTime()}

                var u = e("handle"), c = e(2), f = e(
                    "ee"
                ), s = window, l = s.document, p = "addEventListener", d = "attachEvent", v = s.XMLHttpRequest, g = v && v.prototype;
                NREUM.o = {
                    ST: setTimeout,
                    CT: clearTimeout,
                    XHR: v,
                    REQ: s.Request,
                    EV: s.Event,
                    PR: s.Promise,
                    MO: s.MutationObserver
                }, e(1);
                var m = "" + location, b = {
                    beacon: "bam.nr-data.net",
                    errorBeacon: "bam.nr-data.net",
                    agent: "js-agent.newrelic.com/nr-998.min.js"
                }, w = v && g && g[p] && !/CriOS/.test(navigator.userAgent), y = t.exports = {
                    offset: a(),
                    origin: m,
                    features: {},
                    xhrWrappable: w
                };
                l[p] ? (l[p]("DOMContentLoaded", i, !1), s[p]("load", r, !1)) : (l[d]("onreadystatechange", o), s[d](
                        "onload", r
                    )), u("mark", ["firstbyte", a()], null, "api");
                var h = 0
            }, {}]
        }, {}, ["loader"]
    );</script>
    <meta name="viewport" content="width=device-width">
    <meta name="fragment" content="!">
    <meta name="google-site-verification" content="n3KIjWVSwT6EoVlhTOQSh9KNn-3OmjM-nhh-6SN_-Yo">
    <meta name="yandex-verification" content="5d30216ef2704e46">
    <meta name="mailru-verification" content="ef997a52329036bf">
    <meta property="og:type" content="article">


    <link type="text/css" rel="stylesheet" href="/dist/styles-e1c726fd0cd6c96ede86.min.css">
    <link rel="image_src" href="http://netology.ru/images/netology.png">

    <style type="text/css">/*! normalize.css v3.0.3 | MIT License | github.com/necolas/normalize.css */
    html {
        font-family: sans-serif;
        -ms-text-size-adjust: 100%;
        -webkit-text-size-adjust: 100%
    }

    body {
        margin: 0
    }

    article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
        display: block
    }

    audio, canvas, progress, video {
        display: inline-block;
        vertical-align: baseline
    }

    audio:not([controls]) {
        display: none;
        height: 0
    }

    [hidden], template {
        display: none
    }

    a {
        background-color: transparent
    }

    a:active, a:hover {
        outline: 0
    }

    abbr[title] {
        border-bottom: 1px dotted
    }

    b, strong {
        font-weight: 700
    }

    dfn {
        font-style: italic
    }

    h1 {
        font-size: 2em;
        margin: .67em 0
    }

    mark {
        background: #ff0;
        color: #000
    }

    small {
        font-size: 80%
    }

    sub, sup {
        font-size: 75%;
        line-height: 0;
        position: relative;
        vertical-align: baseline
    }

    sup {
        top: -.5em
    }

    sub {
        bottom: -.25em
    }

    img {
        border: 0
    }

    svg:not(:root) {
        overflow: hidden
    }

    figure {
        margin: 1em 40px
    }

    hr {
        box-sizing: content-box;
        height: 0
    }

    pre {
        overflow: auto
    }

    code, kbd, pre, samp {
        font-family: monospace, monospace;
        font-size: 1em
    }

    button, input, optgroup, select, textarea {
        color: inherit;
        font: inherit;
        margin: 0
    }

    button {
        overflow: visible
    }

    button, select {
        text-transform: none
    }

    button, html input[type=button], input[type=reset], input[type=submit] {
        -webkit-appearance: button;
        cursor: pointer
    }

    button[disabled], html input[disabled] {
        cursor: default
    }

    button::-moz-focus-inner, input::-moz-focus-inner {
        border: 0;
        padding: 0
    }

    input {
        line-height: normal
    }

    input[type=checkbox], input[type=radio] {
        box-sizing: border-box;
        padding: 0
    }

    input[type=number]::-webkit-inner-spin-button, input[type=number]::-webkit-outer-spin-button {
        height: auto
    }

    input[type=search] {
        -webkit-appearance: textfield;
        box-sizing: content-box
    }

    input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
        -webkit-appearance: none
    }

    fieldset {
        border: 1px solid silver;
        margin: 0 2px;
        padding: .35em .625em .75em
    }

    legend {
        border: 0;
        padding: 0
    }

    textarea {
        overflow: auto
    }

    optgroup {
        font-weight: 700
    }

    table {
        border-collapse: collapse;
        border-spacing: 0
    }

    td, th {
        padding: 0
    }</style>
    <script type="text/javascript" async=""
            src="//config1.veinteractive.com/tags/CD21100E/AAC3/40FE/B9D5/10C310A6BD5A/tag.js"></script>
    <script type="text/javascript" async=""
            src="//config1.veinteractive.com/tags/CD21100E/AAC3/40FE/B9D5/10C310A6BD5A/tag.js"></script>
    <script type="text/javascript"
            src="//static-tagr.gd1.mookie1.com/s1/sas/le1/tagr_lib.min.js?np.subdomain=ru-gmtdmp&amp;np.type=learn&amp;tagid=V2_47750&amp;src.rand=[1485044950135]"></script>
    <script type="text/javascript" src="//counter.botscanner.com/js/swfobject_src.js"></script>
    <script src="//code.jquery.com/jquery-2.2.4.min.js" crossorigin="anonymous" async=""></script>
    <style type="text/css" media="screen">#netcustos_swfcontainer {
        visibility: hidden
    }</style>
    <meta name="keywords"
            content="Наставничество, управление персоналом, развитие персонала, обучение персонала, коучинг"
            data-rdm="">
    <meta name="description"
            content="На курсе вы узнаете, как организовать работу наставника на каждой стадии, подобрать эффективные инструменты работы, создать карту развития сотрудника, ставить задачи и контролировать их выполнение."
            data-rdm="">
    <meta property="og:title" content="Интерактивный курс «Наставничество: ситуационное управление персоналом» "
            data-rdm="">
    <meta property="og:image" content="//netology.ru/content/design/social_328.png" data-rdm="">
    <meta property="og:description"
            content="На курсе вы узнаете, как организовать работу наставника на каждой стадии, подобрать эффективные инструменты работы, создать карту развития сотрудника, ставить задачи и контролировать их выполнение."
            data-rdm="">
    <script src="http://track.adform.net/Serving/TrackPoint/?pm=778166&amp;ADFPageName=ROS&amp;ADFdivider=%7C&amp;ord=105911488349&amp;Set1=ru%7Cru%7C2560x1440%7C24&amp;CPref=http%3A%2F%2Fvk.com%2Faway.php&amp;ADFtpmode=2&amp;loc=http%3A%2F%2Fnetology.ru%2Fcourses%2Fnastavnichestvo"
            async=""></script>
    <script src="http://track.adform.net/Serving/TrackPoint/?pm=778166&amp;ADFPageName=Product&amp;ADFdivider=%7C&amp;ord=309911327449&amp;Set1=ru%7Cru%7C2560x1440%7C24&amp;CPref=http%3A%2F%2Fvk.com%2Faway.php&amp;ADFtpmode=2&amp;loc=http%3A%2F%2Fnetology.ru%2Fcourses%2Fnastavnichestvo"
            async=""></script>
</head>